body{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}
.header{
    height: 3em;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 2em;
    margin-bottom: 5em;
    align-items: center;
}
.header_text{
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    margin: 40px;
    transition: .4s;
}
.header_text:hover{
    text-shadow: -6px 6px 0 rgb(184, 184, 184),
    -12px 12px 0 rgb(133, 133, 133);
}
.back{
    margin: 1em;
    top: 0.2em;
    position: relative;
    color: rgb(216, 216, 216);
    z-index: 25;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    font-size: 1.5em;
    user-select: none;
}
.basket{
    margin: 1em;
    top: 0.2em;
    position: relative;
    color: rgb(216, 216, 216);
    z-index: 1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    font-size: 1.5em;
    user-select: none;
}

.shopList{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.shopListItems{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.item{
    display: flex;
    width: 20%;
    margin: 1em 6%;
    background-color: rgb(46, 46, 46);
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: stretch;
    color: rgb(221, 221, 221);
    box-shadow: 2px 2px 1px rgb(218, 218, 218);
    z-index: 1;
    border-radius: 0.2em;
    transition: .3s;
}
.item:hover{
    background-color: rgb(219, 219, 219);
    color: rgb(49, 49, 49);
}

.item_header{
    margin: 1em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: relative;

}
.item_price{
    display: flex;
    position: relative;
    width: 100%;
    font-size: 1.5em;
    font-size: 1em;
    margin: 1px 1em;


}
.item_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1fr;
    padding: 0 1em;
    overflow: hidden;
    margin: 1em 0;

}
.item_buttom{
    border-radius: 5px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .2s;
    height: 3em;
    margin: 1em 0;
    user-select: none;
    border: 1px solid rgb(49, 49, 49);

}
.item_buttom:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.item_border{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    margin: 2em;
    user-select: none;

}
.item_border_in{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 3px;
}
.border_el{
    width: 2em;
    height: 2em;
     background-color: #000;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
}
.border_el:hover{
    background-color: rgb(42, 42, 42);
}
.border_el_active{
    background-color: #fff;
    color: rgb(0, 0, 0);
    transition: .2s;
}
.border_active{
    background-color: rgb(42, 42, 42);
    color: #000;
}
.border_el_active:hover{
    background-color: rgb(226, 226, 226);
}
/* BASKET_BLOCK*/
/* BASKET_BLOCK*/
/* BASKET_BLOCK*/
/* BASKET_BLOCK*/
/* BASKET_BLOCK*/
/* BASKET_BLOCK*/

.basket_block{
    width: 100%;
}
.basket_item{
    height: 5em;
    width: 60%;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .2s;
    color: #fff;
}
.item_buttom_basket{
    user-select: none;
}
.item_buttom_basket:hover{
    color: rgb(255, 0, 0);
}

.finalPrice{
    padding: 1em;
    width: 60%;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.basket_poor{
    padding: 1em;
    width: 60%;
    font-size: 2em;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* FOOTER_BLOCK*//* FOOTER_BLOCK*//* FOOTER_BLOCK*//* FOOTER_BLOCK*/
/* FOOTER_BLOCK*//* FOOTER_BLOCK*//* FOOTER_BLOCK*//* FOOTER_BLOCK*/
.footer_block{
    display: flex;
    width: 100%;
    height: 8em;
    background: rgb(0, 0, 0);
    margin-top: 5em;
    color: #fff;
}


.valute{
    position: relative;
    top: 2px;
}
table{
    border-collapse: collapse;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 100%;
}
td{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 30px;
    text-align: center;
    color: #fff;
}

@media (max-width:1920px){
    body{
        font-size: 12px;
    }
}
@media (max-width:1300px){
    body{
        font-size: 12px;
    }
    .item{
        width: 30%;
    }
}
@media (max-width:1000px){
    body{
        font-size: 12px;
    }
    .item{
        width: 30%;
    }
    .basket_item{
        width: 80%;
    }
}
@media (max-width:900px){
    body{
        font-size: 12px;
    }
    .item{
        width: 40%;
        margin: 1em 4%;
    }
    .basket_item{
        width: 85%;
    }
}
@media (max-width:650px){
    body{
        font-size: 12px;
    }
    .shopListItems{
        width: 90%;
    }
    .item{
        width: 40%;
        margin: 1em 3%;
    }
    .header{
        margin-bottom: 3em;
        justify-content: space-between;
    }
    .basket, .back{
        top: 0.2em;
        margin: 1em;
    }
    .valute{
        margin: 1em;
    }
    td{
        border: 1px solid rgb(255, 255, 255);
        padding: 10px 20px;
        text-align: center;
        color: #fff;
    }
}
@media (max-width:550px){
    body{
        font-size: 12px;
    }
    .shopListItems{
        width: 90%;
    }
    .item{
        width: 60%;
        margin: 1em 3%;
    }
    .basket, .back{
        font-size: 1em;
    }
    .basket_item{
        width: 100%;
        margin: 5px;
    }
}
@media (max-width:450px){
    body{
        font-size: 12px;
    }
    .shopListItems{
        width: 90%;
    }
    .item{
        width: 70%;
        margin: 1em 3%;
    }
    .basket_item{
        width: 100%;
        flex-direction: column;
        height: 10em;
        margin: 1em;
    }
    .header{
        margin-bottom: 2em;
    }
}

